[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = {{ onepasswordRead "op://Private/GitHub-ssh/public key" }}
  token = {{ onepasswordRead "op://Private/GitHub-PAT/password" }}
[tag]
	forceSignAnnotated = true
[pull]
	rebase = true
[core]
	excludesfile = ~{{ .chezmoi.pathSeparator }}.gitignore
	editor = nvim
[filter "lfs"]
	smudge = {{ .chezmoi.config.git.command }}-lfs smudge -- %f
	process = {{ .chezmoi.config.git.command }}-lfs filter-process
	required = true
	clean = {{ .chezmoi.config.git.command }}-lfs clean -- %f
[alias]
	a = {{ .chezmoi.command }}
  b = branch
  c = commit
  cl = clone
  co = checkout
  cp = cherry-pick
  m = merge
  p = push --follow-tags
  pu = pull
  r = reset
  s = status
	force-push = push --force-with-lease
	fp = force-push
	doff = diff
[init]
	defaultBranch = main

[includeIf "gitdir{{ .chezmoi.pathListSeparator }}~{{ .chezmoi.pathSeparator }}prj{{ .chezmoi.pathSeparator }}oss{{ .chezmoi.pathSeparator }}"]
  path = ~{{ .chezmoi.pathSeparator }}.gitconfig-github
[{{ .chezmoi.config.gpg.command }}]
	format = ssh
[{{ .chezmoi.config.gpg.command }} "ssh"]
	program = {{ .chezmoi.pathSeparator }}Applications{{ .chezmoi.pathSeparator }}1Password.app{{ .chezmoi.pathSeparator }}Contents{{ .chezmoi.pathSeparator }}MacOS{{ .chezmoi.pathSeparator }}{{ .chezmoi.config.onepassword.command }}-ssh-sign
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[url "https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}dymok{{ .chezmoi.pathListSeparator }}{{ onepasswordRead "op://Private/GitHub-PAT/password" }}@github"]
	insteadOf = https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}github
