# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# Comment this line if you don't want it to be added again.
Include ~/.orbstack/ssh/config

Host *.dask.host
  IdentityAgent SSH_AUTH_SOCK

{{ if eq .chezmoi.os "linux" -}}
Host *
	IdentityAgent ~/.1password/agent.sock
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end -}}

  
Host boombox
  HostName boom.box4.me
  User dym

Host ob1
  Hostname ob1.box4.me
  User dym

Host pinky
  HostName sync.box4.me
  Port 42122
  User dymka

Host hg-dataservices-test-ec2
  HostName ec2-3-66-28-162.eu-central-1.compute.amazonaws.com
  User ec2-user
