[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = {{ onepasswordRead "op://Private/GitHub-ssh/public key" }}
  token = {{ onepasswordRead "op://Private/GitHub-PAT/password" }}
[tag]
	forceSignAnnotated = true
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore
	editor = nvim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
	a = apply
  b = branch
  c = commit
  cl = clone
  co = checkout
  cp = cherry-pick
  m = merge
  p = push --follow-tags
  pu = pull
  r = reset
  s = status
	force-push = push --force-with-lease
	fp = force-push
	doff = diff
[init]
	defaultBranch = main

[includeIf "gitdir{{ .chezmoi.pathListSeparator }}~/prj/oss/"]
  path = ~/.gitconfig-github
[{{ .chezmoi.config.gpg.command }}]
	format = ssh
[{{ .chezmoi.config.gpg.command }} "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/{{ .chezmoi.config.onepassword.command }}-ssh-sign
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[url "https{{ .chezmoi.pathListSeparator }}//dymok{{ .chezmoi.pathListSeparator }}{{ onepasswordRead "op://Private/GitHub-PAT/password" }}@github"]
	insteadOf = https{{ .chezmoi.pathListSeparator }}//github
