#!/usr/bin/env zsh

set -efo pipefail
if [[ ! -d "$HOME/.uvenv/pynvim" ]]; then
  uv venv "$HOME/.uvenv/pynvim" --python 3.12
  source "$HOME/.uvenv/pynvim/bin/activate"
  uv pip install pip pynvim
  deactivate
fi

if [[ "$(type zoxide)" == "zoxide not found" ]]; then
curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
fi
if [[ "$(type starship)" == "starship not found" ]]; then
  curl -sS https://starship.rs/install.sh | sh
fi

{{ if eq .chezmoi.os "linux" -}}

if [[ -n "$DISPLAY" || -n "$WAYLAND_DISPLAY" ]]; then
	FONT_DIR="$HOME/.local/share/fonts"
	mkdir -p $FONT_DIR
	curl -sSfL https://github.com/ryanoasis/nerd-fonts/releases/download/v3.2.1/Iosevka.tar.xz | tar -xJ -C $FONT_DIR
	curl -sSfL https://github.com/ryanoasis/nerd-fonts/releases/download/v3.2.1/IosevkaTerm.tar.xz | tar -xJ -C $FONT_DIR
	curl -sSfL https://github.com/ryanoasis/nerd-fonts/releases/download/v3.2.1/IosevkaTermSlab.tar.xz | tar -xJ -C $FONT_DIR
	fc-cache -fv
fi

if [[ "$(type aws)" == "aws not found" ]]; then
	curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "/var/tmp/awscliv2.zip"
	pushd /var/tmp/
	unzip awscliv2.zip
	sudo ./aws/install
	popd
fi

# install lazygit
if [[ "$(type lazygit)" == "lazygit not found" ]]; then
	LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
	curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
	tar xf lazygit.tar.gz lazygit
	sudo install lazygit /usr/local/bin
fi

{{ else if eq .chezmoi.os "darwin" -}}

defaults write NSGlobalDomain KeyRepeat -int 1
defaults write NSGlobalDomain InitialKeyRepeat -int 14

defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
defaults write com.todesktop.230313mzl4w4u92 ApplePressAndHoldEnabled -bool false

if [[ "$(type aws)" == "aws not found" ]]; then
	curl "https://awscli.amazonaws.com/AWSCLIV2.pkg" -o "/var/tmp/AWSCLIV2.pkg"
	sudo installer -pkg /var/tmp/AWSCLIV2.pkg -target /
fi
{{ end -}}

if [[ "$(type kitty)" == "kitty not found" ]]; then
	curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin
fi

if [[ "$(type rustup)" == "rustup not found" ]]; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi
# install rust-analyzer
if [[ "$(type rust-analyzer)" == "rust-analyzer not found" ]]; then
	rustup component add rust-analyzer
fi
