#!/bin/bash

set -eufo pipefail

{{ if (and (eq .chezmoi.arch "arm64") (eq .chezmoi.os "darwin")) -}}
if [ ! -f "/Library/Apple/System/Library/Receipts/com.apple.pkg.RosettaUpdateAuto.bom" ]; then
  sudo softwareupdate --install-rosetta
else
  echo "Rosetta already installed"
fi
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
  

  {{ $brews := list
      "actionlint"
      "aws-iam-authenticator"
      "aws-sso-util"
      "bat"
      "cmake"
      "colordiff"
      "direnv"
      "docker-credential-helper"
      "docker-credential-helper-ecr"
      "fd"
      "fnm"
      "fzf"
      "jq"
      "gh"
      "git"
      "gnupg"
      "lazygit"
      "lua"
      "luajit"
      "luajit-openresty"
      "luarocks"
      "minicom"
      "neovim"
      "neovide"
      "ripgrep"
      "protobuf"
      "ruby"
      "rust"
      "speedtest-cli"
      "yq"
      "zoxide"
      "wget" -}}

  {{ $casks := list
      "1password-cli"
      "1password"
      "docker"
      "font-inconsolata"
      "font-iosevka-etoile"
      "font-iosevka-nerd-font"
      "google-chrome"
      "iterm2"
      "mark-text"
      "openinterminal-lite"
      "qlcolorcode"
      "qlmarkdown"
      "qlstephen"
      "qlvideo"
      "quicklook-json"
      "quicklookase"
      "raycast"
      "spotify"
      "suspicious-package"
      "tor-browser"
      "skype"
      "teamviewer"
      "transmission"
      "zoom"
      "visual-studio-code"
      "google-drive"
      "telegram"
      "whatsapp"
      "discord"
      "vlc" -}}

  {{ $extensions := list
      "vscodevim.vim"
      "ms-python.python"
      "ms-vscode.cpptools"
      "redhat.vscode-yaml" -}}

if [ ! -f "$HOME/.brew-packages-installed" ]; then
brew bundle --file=/dev/stdin <<EOF

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range ($extensions | sortAlpha | uniq) -}}
vscode "{{ . }}"
{{ end -}}
EOF
  touch $HOME/.brew-packages-installed
fi
{{ end -}}
