#!/bin/bash -e
_isInstalled() {
  local pkg="$1"
  if dpkg -s "$pkg" &> /dev/null; then
    echo 0
  else
    echo 1
  fi
}

_registerRepos() {
	sudo mkdir -p /etc/apt/keyrings
	sudo apt update && sudo apt install -y gpg
  if [[ ! -f /etc/apt/sources.list.d/1password.list ]]; then
    # download keyrings
    wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc |
      sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
    wget -qO- https://downloads.1password.com/linux/keys/1password.asc \
      | sudo gpg --dearmor --output /etc/apt/keyrings/1password-archive-keyring.gpg
    echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" |
      sudo tee /etc/apt/sources.list.d/gierens.list
    echo 'deb [arch=amd64 signed-by=/etc/apt/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/amd64 stable main' \
      | sudo tee /etc/apt/sources.list.d/1password.list
    sudo chmod 644 /etc/apt/keyrings/*.gpg /etc/apt/sources.list.d/*.list
    sudo apt update
  fi
}

_install() {
	package="$1"

	if [[ $(_isInstalled "${package}") == 0 ]]; then
		echo "${package} is already installed."
	else
		sudo apt install -y "${package}"
	fi
}

_postInstall() {
	if [[ ! -f ~/.local/bin/fd ]]; then
		ln -s $(which fdfind) ~/.local/bin/fd
	fi
}

_installMany() {
	toInstall=()

	for pkg; do
		if [[ $(_isInstalled "${pkg}") == 0 ]]; then
			echo "${pkg} is already installed."
			continue
		fi
		toInstall+=("${pkg}")
	done

	if [[ "${toInstall[@]}" == "" ]]; then
		echo "All packages are already installed"
		return
	fi
	printf "Packages not installed:\n%s\n" "${toInstall[@]}"
	_registerRepos
	sudo apt install -y "${toInstall[@]}"

	_postInstall
}

packages=("direnv" "eza" "git" "fzf" "ripgrep" "thefuck"
	"python3-pip" "tmux" "vim" "neovim" "xclip" "zsh" "build-essential"
	"curl" "bzip2" "luarocks" "fd-find" "pipx" "1password" "rustup")

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "debian")  -}}

_installMany "${packages[@]}"
source /etc/lsb-release
if [[ "$DISTRIB_CODENAME" == "noble" ]]; then
	_installMany "python3-zombie-imp"
fi

{{ end -}}
