#!/bin/bash -e
_isInstalled() {
  package="$1"
  check="$(yay -Qs "${package}" | grep "local" | grep "${package} ")";
  if [ -n "${check}" ]; then
    echo 0;
    return;
  fi
  echo 1;
  return;
}

_install() {
  package="$1"

  if [[ $(_isInstalled "${package}") == 0 ]]; then
    echo "${package} is already installed."
  else
    sudo apt install -y "${package}"
  fi
}

_installMany() {
  toInstall=();

  for pkg; do
    if [[ $(_isInstalled "${pkg}") == 0 ]]; then
      echo "${pkg} is already installed."
      continue;
    fi
    toInstall+=("${pkg}");
  done

  if [[ "${toInstall[@]}" == "" ]]; then
    echo "All packages are already installed";
    return;
  fi
  printf "Packages not installed:\n%s\n" "${toInstall[@]}";
  sudo apt install -y "${toInstall[@]}"
}

packages=("direnv" "git" "ripgrep" "tmux" "vim" "neovim" "xclip" "zsh" "build-essential" "curl" "bzip2")

{{ if eq .chezmoi.os "linux" -}}

_installMany "${packages[@]}"
{{ end -}}
